<mat-toolbar>
  <mat-toolbar-row color="primary">
    <button *ngIf="isToggleButton" mat-icon-button (click)="sidenavOpen.emit(null)">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Logo kısmı -->
    <div class="logo-container">
      <img [src]="companyLogo" class="logo" (click)="onExitClick()"/>
    </div>

    <mat-divider></mat-divider>
    <span class="spacer"></span>
    <div class="debug-order-id">
      <span>{{ orderId() }}</span>
    </div>
    <mat-divider></mat-divider>
    <span class="spacer"></span>

    <!-- İptal Butonu - Sadece stepper sayfasında göster -->
    @if (showCancelButton()) {
    <div class="navbar-button-group">
      <button mat-stroked-button class="navbar-group-button navbar-cancel-button" (click)="onCancelClick()">
        <mat-icon>delete_forever</mat-icon>
        <span class="button-text">{{ 'COMMON.CANCEL' | translate }}</span>
      </button>

      <button mat-stroked-button class="navbar-group-button navbar-cancel-button" (click)="onExitClick()">
        <mat-icon>exit_to_app</mat-icon>
        <span class="button-text">{{ 'HEADER.EXIT' | translate }}</span>
      </button>
    </div>
    }

    <!-- Profil Menüsü -->
    <div mat-button [matMenuTriggerFor]="profileMenu" class="profile-menu">
      <img [src]="this.profilePhoto" class="profile-photo" alt="" />
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Ana Profil Menüsü -->
<mat-menu #profileMenu="matMenu" class="profile-main-menu">
  <!-- Profil -->
  <button mat-menu-item [routerLink]="['/profile']" class="profile-menu-item">
    <mat-icon class="menu-icon">person</mat-icon>
    <span>{{ 'HEADER.PROFILE' | translate }}</span>
  </button>

  <mat-divider></mat-divider>

  <!-- Dil Seçimi - Submenu Trigger - ✅ SVG KULLANIMI -->
  <button mat-menu-item [matMenuTriggerFor]="languageMenu" class="profile-menu-item language-trigger">
    <img [src]="getCurrentLanguage().flag" class="flag-icon-img" alt="flag" />
    <span style="padding-left : 10px;">{{ getCurrentLanguage().name }}</span>
    <mat-icon class="arrow-icon">chevron_right</mat-icon>
  </button>

  <mat-divider></mat-divider>

  <!-- Çıkış -->
  <button mat-menu-item (click)="logout()" class="profile-menu-item">
    <mat-icon class="menu-icon">logout</mat-icon>
    <span>{{ 'HEADER.LOGOUT' | translate }}</span>
  </button>
</mat-menu>

<!-- Dil Alt Menüsü (Submenu) - ✅ SVG KULLANIMI -->
<mat-menu #languageMenu="matMenu" class="language-submenu">
  <button mat-menu-item *ngFor="let lang of languages" (click)="onLanguageChange(lang.code)"
    [class.active-language]="(currentLanguage$ | async) === lang.code" class="language-submenu-item">
    <img [src]="lang.flag" class="flag-icon-img" alt="{{ lang.name }}" />
    <span class="language-name">{{ lang.name }}</span>
    <mat-icon *ngIf="(currentLanguage$ | async) === lang.code" class="check-icon">check_circle</mat-icon>
  </button>
</mat-menu>
