<div class="product-container">
  <div class="page-header">
    <div class="header-content">
      <div class="header-left">
        <h1>{{ 'PRODUCT.TITLE' | translate }}</h1>
        <div class="breadcrumb">
          <span>{{ 'MENU.HOME' | translate }}</span>
          <span class="separator">/</span>
          <span class="active">{{ 'PRODUCT.PRODUCTS' | translate }}</span>
        </div>
      </div>
      <div class="header-actions">
        <button mat-raised-button color="primary" [appBulkUploadButton]="productBulkConfig" class="bulk-add-btn"
          [appDisableAuth]="['products.add_product']" >
          <mat-icon>add_box</mat-icon>{{ 'PRODUCT.BULK_ADD' | translate }}</button>
      </div>
    </div>
  </div>


  <div class="content-section" [class.loading]="isLoading">
    <app-generic-table *appHasPermission="'products.view_product'" [service]="productService"
      [displayedColumns]="displayedColumns" [filterableColumns]="filterableColumns"
      [nestedDisplayColumns]="nestedDisplayColumns" [title]="'PRODUCT.PRODUCTS'" [showRowNumbers]="true"
      [excludeFields]="['name']" [deletePermission]="['products.delete_product']"
      [addPermission]="['products.add_product']" [updatePermission]="['products.change_product']" [columnTypes]="columnTypes"
      [columnPermissions]="{'created_at': ['access_control.view_audited_fields'],'created_by': ['access_control.view_audited_fields']}">
    </app-generic-table>
  </div>
</div>
