<div class="cancel-dialog-container">
  <div class="dialog-header">
    <div class="icon-wrapper">
      <mat-icon class="warning-icon">warning_amber</mat-icon>
    </div>
    <h2 mat-dialog-title>{{data.header}}</h2>
  </div>

  <mat-dialog-content>
    <p class="main-text">{{data.title}}</p>
    <div class="warning-box">
      <mat-icon>info</mat-icon>
      <span>{{data.info}}</span>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-stroked-button (click)="onNoClick()" class="no-button">
      <mat-icon>close</mat-icon>
      <span>{{data.rejectButtonText}}</span>
    </button>
    @if(data.showYesButton){
      <button mat-raised-button (click)="onYesClick()" class="yes-button" cdkFocusInitial>
        <mat-icon>check</mat-icon>
        <span>{{data.confirmButtonText}}</span>
      </button>
    }
  </mat-dialog-actions>
</div>
