<div class="truck-container" *appHasPermission="'logistics.view_truck'">
  <div class="page-header">
    <div class="header-content">
      <div class="header-left">
        <h1>{{ 'TRUCK.TITLE' | translate }}</h1>
        <div class="breadcrumb">
          <span>{{ 'MENU.HOME' | translate }}</span>
          <span class="separator">/</span>
          <span class="active">{{ 'TRUCK.VEHICLES' | translate }}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="content-section" [class.loading]="isLoading">
    <app-generic-table [service]="truckService" [displayedColumns]="displayedColumns"
      [filterableColumns]="filterableColumns" [nestedDisplayColumns]="nestedDisplayColumns" [title]="'TRUCK.VEHICLES' | translate"
      [deletePermission]="['logistics.delete_truck']"
      [addPermission]="['logistics.add_truck']"
      [updatePermission]="['logistics.change_truck']"
      [showRowNumbers]="true"
      [columnTypes]="columnTypes"
      [columnPermissions]="{'created_at': ['access_control.view_created'],'created_by_username': ['access_control.view_created']}">
    </app-generic-table>
  </div>
</div>
