<div class="add-company-dialog">
  <div class="dialog-header">
    <h2 mat-dialog-title>{{ 'CUSTOMER.NEW_COMPANY_DIALOG_TITLE' | translate }}</h2>
    <button mat-icon-button (click)="onCancel()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dialog-content">
    <form [formGroup]="form" class="company-form">

      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'CUSTOMER.COMPANY_NAME' | translate }}</mat-label>
          <input
            matInput
            formControlName="company_name"
            [placeholder]="'CUSTOMER.COMPANY_NAME_PLACEHOLDER' | translate"
            autocomplete="off"
          />
          <mat-icon matPrefix>business</mat-icon>
          @if (form.get('company_name')?.hasError('required') && form.get('company_name')?.touched) {
            <mat-error>{{ 'PROFILE.COMPANY_NAME_REQUIRED' | translate }}</mat-error>
          }
          @if (form.get('company_name')?.hasError('minlength')) {
            <mat-error>{{ 'PROFILE.COMPANY_NAME_MIN' | translate }}</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'COMMON.COUNTRY' | translate }}</mat-label>
          <input
            matInput
            formControlName="country"
            [placeholder]="'CUSTOMER.COUNTRY_PLACEHOLDER' | translate"
            autocomplete="off"
          />
          <mat-icon matPrefix>flag</mat-icon>
          @if (form.get('country')?.hasError('required') && form.get('country')?.touched) {
            <mat-error>{{ 'PROFILE.COUNTRY_REQUIRED' | translate }}</mat-error>
          }
          @if (form.get('country')?.hasError('minlength')) {
            <mat-error>{{ 'PROFILE.COUNTRY_MIN' | translate }}</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="info-box">
        <mat-icon>info</mat-icon>
        <p>{{ 'CUSTOMER.COMPANY_ADDED_INFO' | translate }}</p>
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button
      mat-button
      (click)="onCancel()"
      [disabled]="isSaving"
    >{{ 'COMMON.CANCEL' | translate }}</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSave()"
      [disabled]="form.invalid || isSaving"
    >
      @if (isSaving) {
        <mat-spinner diameter="20" class="button-spinner"></mat-spinner>
      }
      {{ 'COMMON.ADD' | translate }}
    </button>
  </mat-dialog-actions>
</div>
